body{
    background: url("http://b.hiphotos.baidu.com/image/pic/item/f2deb48f8c5494eed9565a5826f5e0fe99257e7e.jpg");

    animation-name:myfirst;
    animation-duration:12s;
    /*变换时间*/
    animation-delay:2s;
    /*动画开始时间*/
    animation-iteration-count:infinite;
    /*下一周期循环播放*/
    animation-play-state:running;
    /*动画开始运行*/
}
@keyframes myfirst
{
    0%   {background:url("http://d.hiphotos.baidu.com/image/pic/item/359b033b5bb5c9eaee2367a2de39b6003bf3b39b.jpg");}
    34%  {background:url("http://f.hiphotos.baidu.com/image/pic/item/79f0f736afc379319740e268e0c4b74543a91142.jpg");}
    67%  {background:url("http://e.hiphotos.baidu.com/image/pic/item/faedab64034f78f06b54e0b272310a55b3191c17.jpg");}
    100% {background:url("http://d.hiphotos.baidu.com/image/pic/item/3812b31bb051f81935ab7b0bd1b44aed2f73e7e1.jpg");}
}
.form{background: rgba(255,255,255,0.2);width:400px;margin:120px auto;}
/*阴影*/
.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
input[type="text"],input[type="password"]{padding-left:26px;}
.checkbox{padding-left:21px;}
